:root {
	--lilac: #dedeea;
	--magenta: #bcb9d8;
	--purple: #8488b5;
	--darkpurple: #61678b;
	--aqua: #78acc1;
	--skyblue: #98bfd0;
}
/* hover: highlight buttons with animation 
add transition
mobile interface
*/
* {
	margin: 0;
	font-family: sans-serif;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 36px;
	background-color: var(--purple);
	font-size: large;
	font-weight: bold;
}
a {
	text-decoration: none;
	color: var(--lilac);
}

.navbar {
	display: flex;
	justify-content: space-between;
	gap: 32px;
}
.navbar a {
	width: fit-content;
	padding: 10px;
	border-radius: 3px;
}
.navbar a:hover {
	background-color: var(--lilac);
	text-align: center;
	color: var(--darkpurple);
}
.desc {
	text-align: center;
	width: 60vw;
	padding: 0 8px;
	color: #212121;
	font-weight: bold;
}
main {
	background-color: var(--skyblue);
	padding: 16px 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 53vw;
	padding-top: 64px;
}
.email {
	color: var(--darkpurple);
}

.video-placeholder {
	width: 60vw;
	height: 128px;
	background-color: var(--magenta);
}
