:root {
	--lilac: #dedeea;
	--magenta: #bcb9d8;
	--purple: #8488b5;
	--darkpurple: #61678b;
	--aqua: #78acc1;
	--skyblue: #98bfd0;
}
/* hover: highlight buttons with animation 
add transition
mobile interface
*/
body {
	display: flex;
	flex-direction: column;
	background-color: var(--lilac);
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
	min-width: 100vw;
}
* {
	margin: 0;
	font-family: sans-serif;
}
.original {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
	background-color: var(--purple);
	font-size: large;
	font-weight: bold;
	min-width: 100vw;
	border-bottom: 6px solid var(--darkpurple);
}
#mobile {
	display: none;
}
a {
	text-decoration: none;
	color: var(--lilac);
}
.home {
	margin-left: 32px;
	font-size: 32px;
	text-shadow: 2px 2px var(--darkpurple);
	/* text-decoration: underline; */
	font-family: 'Koulen', serif;
	font-weight: 600;
	font-style: italic;
}

.navbar {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	margin-right: 16px;
}
.navbar a, .sidebar a {
	width: fit-content;
	padding: 10px;
	border-radius: 3px;
	font-style: italic;
}
.navbar a:hover, .sidebar a:hover{
	background-color: var(--lilac);
	text-align: center;
	color: var(--darkpurple);
	transition: 350ms ease;
	box-shadow: 4px 4px;
}
.desc {
	text-align: center;
	padding: 0 8px;
	max-width: 65vw;
	color: #212121;
	font-weight: bold;
}
main {
	padding: 24px 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	min-height: 65vh;
	gap: 16px;
	background-color: var(--magenta);
	background-blend-mode: multiply;
	box-shadow: 4px 4px 4px var(--purple);
	margin-bottom: 10vh;
}
.email {
	background-color: var(--lilac);
	color: var(--purple);
}

.video-placeholder {
	width: 60vw;
	height: 35vh;
	background-color: var(--magenta);
	border: 2px solid black;
}

h1 {
	text-decoration: underline;
	color: #212121;
	text-shadow: 2px 2px 1px var(--lilac);
}
footer {
	padding: 8px;
	min-width: 100vw;
	text-align: center;
	background-color: var(--darkpurple);
	/* border-top: 4px solid var(--purple); */
	/* background-blend-mode: lighten; */
	backdrop-filter: blur(5px);
	position: fixed;
	bottom: 0;
}
.hamburger {
	display: none;
}

/* Responsive section */
@media screen and (max-width: 800px) {
	.original {
		display: none;
	}
	#mobile {
		display: flex;
		gap: 16px;
		align-items: center;
		justify-content: flex-start;
		padding: 16px;
		padding-left: 48px;
		background-color: var(--purple);
		font-size: medium;
		font-weight: bold;
		min-width: 100vw;
		border-bottom: 4px solid var(--darkpurple);
	}
	.navbar-mobile {
		display: none; /* Hide menu by default */
		flex-direction: column;
		gap: 10px;
		background-color: var(--purple);
		padding: 10px;
	}
	.home {
		margin: 0;
	}
	.home2{
	margin-left: 32px;
	font-size: 32px;
	text-shadow: 2px 2px var(--darkpurple);
	/* text-decoration: underline; */
	font-family: 'Koulen', serif;
	font-weight: 600;
	font-style: italic;
	
	}
	main {
		margin-bottom: 10%;
	}
	.hamburger {
		/* display: none; */
		display: block;
		visibility: visible;
		font-size: 2rem;
		margin-bottom: 8px;
		background: none;
		border: none;
		color: var(--skyblue);
		max-width: fit-content;
		cursor: pointer;
	}
	#menu-toggle {
		display: none;
		/* opacity: 0.5; */
	}
	#menu-toggle:checked ~ .navbar-mobile {
		display: flex;
		/* display: flex;
		flex-direction: column; */
	}
	#mobile:has(#menu-toggle:checked) .home {
    display: none; /* Hides the home link */
}

}